.container.well
	.col-md-6
		%h1 Listing All Items

		%table.table.table-striped
			%tr
				%th Item Name
				%th Base Price
			- @items.each do |item|
				%tr
					%td= link_to item.name, edit_item_path(item.id)
					%td= item.base_price

		= link_to "New Item", new_item_path, :class => "btn btn-default"